@model DepartmentModule.Models.Book

@{
    ViewData["Title"] = "Yaratish";
}
<div class="border-dark">
<form asp-action="Create" style="background:#909294" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table">
        <tr >
            <td>
                <div class="form-group">
                    <label  class="control-label">Kerakli diskni tanlang</label>
                    <input asp-for="Url" type="file" name="bookUrl">
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr >
            <td>
                <div class="form-group">
                    <label  class="control-label"> File nomi</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </td>
        </tr >
    </table>
</form>
</div>
<br />
<form asp-action="GoogleSearch" method="post" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="row">
                <div class="input-group">
                    <select name="type" typeof="string" class="input-group-prepend">
                        <option>
                            PDF
                        </option>
                        <option>
                            DOC
                        </option>
                        <option>
                            PPT
                        </option>
                    </select>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" name="query" placeholder="ppt, pdf, doc, docx fayllarni Google orqali qidirish...">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-search">
                            </span>
                        </button>
                    </span>
                </div>
            
        </div>
    </div>
</form>

<br>
<table class="table table-hover">
    <tr class="table-active">
        <th>
            Name
        </th>
        <th>

        </th>
    </tr>
    <tbody>
        @foreach (var item in ViewBag.fun)
        {
            
            <tr class="table-light" >
                <td>
                    @item.Name
                </td>
                <td width="60px">
                    <a asp-controller="Books" asp-action="Save" >
                        @Html.ActionLink("Saqlash", "Save", new { Id = item.BookID, Name = item.Name, Url = item.Url})
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />





<div>
    <a asp-action="Index">Ro'yxatga qaytish</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
