@model DepartmentModule.Models.Subject

@{
    ViewData["Title"] = "O'chirish";
}

<h1>O'chirish</h1>

<h3>Rostdan ham bu fanni o'chirmoqchimisiz?</h3>
<div>
    <h4>Fan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl> 
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SubjectID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Ro'yxatga qaytish</a>
    </form>
</div>
