@model IEnumerable<DepartmentModule.Models.Subject>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
 

     @foreach (var item in Model) 
     {
        <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">@Html.DisplayFor(modelItem => item.Name)</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <a class="btn btn-warning " asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

        </div> 
      }

